[Desktop Entry]
Type=Application
Name=Now You See Me
Comment=Resource monitor for engineers
Exec=nysm-desktop
Icon=dev.nysm.NowYouSeeMe
Terminal=false
Categories=System;Monitor;GTK;
Keywords=cpu;memory;network;disk;process;monitor;
StartupNotify=true
